[project]
	description = Uses AccuWeather API in order to subscribe to location based weather data via a simple RESTful web interface.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group pdxostc-management
	owner = group user/Aaron Eiche (aeichepdx)
	owner = group user/Rudolf J Streif (pragma1ce)
[access "refs/for/refs/*"]
	read = group user/Aaron Eiche (aeichepdx)
	read = group user/Rudolf J Streif (pragma1ce)
	push = group user/Aaron Eiche (aeichepdx)
	push = group user/Rudolf J Streif (pragma1ce)
	label-Code-Review = -2..+2 group user/Aaron Eiche (aeichepdx)
	label-Code-Review = -2..+2 group user/Rudolf J Streif (pragma1ce)
	label-Verified = -1..+1 group user/Aaron Eiche (aeichepdx)
	label-Verified = -1..+1 group user/Rudolf J Streif (pragma1ce)
	rebase = group user/Aaron Eiche (aeichepdx)
	rebase = group user/Rudolf J Streif (pragma1ce)
	removeReviewer = group user/Aaron Eiche (aeichepdx)
	removeReviewer = group user/Rudolf J Streif (pragma1ce)
	submit = group user/Aaron Eiche (aeichepdx)
	submit = group user/Rudolf J Streif (pragma1ce)
[access "refs/heads/*"]
	read = group user/Aaron Eiche (aeichepdx)
	read = group user/Rudolf J Streif (pragma1ce)
	create = group user/Aaron Eiche (aeichepdx)
	create = group user/Rudolf J Streif (pragma1ce)
	push = +force group user/Aaron Eiche (aeichepdx)
	push = +force group user/Rudolf J Streif (pragma1ce)
	pushMerge = group user/Aaron Eiche (aeichepdx)
	pushMerge = group user/Rudolf J Streif (pragma1ce)
[access "refs/tags/*"]
	push = +force group user/Aaron Eiche (aeichepdx)
	push = +force group user/Rudolf J Streif (pragma1ce)
	pushTag = group user/Aaron Eiche (aeichepdx)
	pushTag = group user/Rudolf J Streif (pragma1ce)
	pushSignedTag = group user/Aaron Eiche (aeichepdx)
	pushSignedTag = group user/Rudolf J Streif (pragma1ce)
